<?xml version="1.0"?>
<launch>
    <node pkg="camera_stream" type="camera_stream.py" name="camera_stream" output="screen">
        <param name="server_ip" type="string" value="192.168.42.202" />
        <param name="server_port" type="int" value="9007" />
        
        <param name="image_topic" type="string" value="/usb_cam/image_raw" />
        <param name="control_topic" type="string" value="/control_data/video_control" /> 

        <param name="output_width" type="int" value="640" />
        <param name="output_height" type="int" value="480" />
        
        <!-- JPEG压缩质量 (0-100) -->
        <param name="jpeg_quality" type="int" value="40" />
        <!-- 推流帧率 -->
        <param name="frame_rate" type="int" value="10" />
    </node>
</launch>