<launch>

    <arg name="enable_xyz_input_node" default="false" />

    <param name="param_A" type="int" value="100" />
    <rosparam command="load" file="$(find px4)/launch/params.yaml" />

    <node pkg="px4" type="apm_auto_node" name="apm_auto" output="screen" />
    <node if="$(arg enable_xyz_input_node)" pkg="px4" type="xyz_input_node" name="xyz_input_node" output="screen" />

</launch>
