<launch>
  <arg name="map_size_x" value="400"/>
  <arg name="map_size_y" value="400"/>
  <arg name="map_size_z" value="7"/>

  <arg name="odom_topic" value="/mavros/local_position/odom"/>
  <arg name="cloud_topic" value="/world_cloud"/>

  <arg name="occupancy_topic" value="/planning_map/occupancy"/>
  <arg name="occupancy_inflate_topic" value="/planning_map/occupancy_inflate"/>

  <node pkg="ego_planner" name="planning_map_builder" type="external_map_builder_node" output="screen">
    <remap from="~grid_map/odom" to="$(arg odom_topic)"/>
    <remap from="~grid_map/cloud" to="$(arg cloud_topic)"/>
    <remap from="~grid_map/occupancy" to="$(arg occupancy_topic)"/>
    <remap from="~grid_map/occupancy_inflate" to="$(arg occupancy_inflate_topic)"/>

    <param name="grid_map/resolution" value="0.15"/>
    <param name="grid_map/map_size_x" value="$(arg map_size_x)"/>
    <param name="grid_map/map_size_y" value="$(arg map_size_y)"/>
    <param name="grid_map/map_size_z" value="$(arg map_size_z)"/>
    <param name="grid_map/local_update_range_x" value="5"/>
    <param name="grid_map/local_update_range_y" value="5"/>
    <param name="grid_map/local_update_range_z" value="5"/>
    
    <param name="grid_map/obstacles_inflation" value="0.55"/>
    <param name="grid_map/local_map_margin" value="10"/>
    <param name="grid_map/ground_height" value="-0.1"/>

    <param name="grid_map/cx" value="323.3316345214844"/>
    <param name="grid_map/cy" value="234.95498657226562"/>
    <param name="grid_map/fx" value="384.39654541015625"/>
    <param name="grid_map/fy" value="384.39654541015625"/>

    <param name="grid_map/use_depth_filter" value="true"/>
    <param name="grid_map/depth_filter_tolerance" value="0.15"/>
    <param name="grid_map/depth_filter_maxdist" value="5.0"/>
    <param name="grid_map/depth_filter_mindist" value="0.2"/>
    <param name="grid_map/depth_filter_margin" value="2"/>
    <param name="grid_map/k_depth_scaling_factor" value="1000.0"/>
    <param name="grid_map/skip_pixel" value="2"/>

    <param name="grid_map/p_hit" value="0.65"/>
    <param name="grid_map/p_miss" value="0.35"/>
    <param name="grid_map/p_min" value="0.12"/>
    <param name="grid_map/p_max" value="0.90"/>
    <param name="grid_map/p_occ" value="0.80"/>
    <param name="grid_map/min_ray_length" value="0.3"/>
    <param name="grid_map/max_ray_length" value="5.0"/>

    <param name="grid_map/visualization_truncate_height" value="1.8"/>
    <param name="grid_map/show_occ_time" value="false"/>
    <param name="grid_map/pose_type" value="1"/>
    <param name="grid_map/frame_id" value="world"/>
  </node>
</launch>
